# importamos pandas

In [118]:
import pandas as pd

In [119]:
data = pd.read_csv("Downloads/valor-cobre-por-a単o-en-algunos-paises-_1_.csv")
data.head()

,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,306.6,635.6,324.1,304.7,238.6,373.8,668.2,579.8,1903.8,1902.12,1903.2,629.2,326.90,634.6,648.9,468.8,471.8,424.2,263.0
1,94.1,66.8,75.9,85.2,49.2,74.8,132.1,99.4,458.3,428.70,289.1,526.2,1902.12,774.7,677.3,701.9,582.8,382.1,157.3
2,7.0,17.5,65.6,28.1,29.3,67.5,156.2,168.3,438.0,417.10,419.0,370.7,236.40,309.7,296.4,422.5,415.7,342.9,219.0
3,84.6,123.0,134.8,83.2,165.7,156.0,359.7,476.3,887.0,631.30,1902.1,565.5,627.50,929.1,791.4,735.9,927.2,736.8,769.5
4,45.1,36.8,50.3,23.4,34.7,41.4,77.7,96.8,228.9,148.70,118.6,68.4,187.10,174.5,137.3,65.4,154.0,88.8,81.2

# vemos las columnas y filas

In [120]:
data.shape

(24, 19)

In [121]:
colnames = data.columns.values.tolist()
predictors = colnames[:18]
target = colnames[18]
X = data[predictors]
Y = data[target]

In [122]:
from sklearn.tree import DecisionTreeRegressor

In [123]:

regtree = DecisionTreeRegressor(min_samples_split=30, min_samples_leaf=10, max_depth=5, random_state=0)

In [124]:
regtree.fit(X,Y)

DecisionTreeRegressor(max_depth=5, min_samples_leaf=10, min_samples_split=30,
                      random_state=0)

In [125]:
preds = regtree.predict(data[predictors])

In [126]:
data["preds"] = preds

In [127]:
data[["preds", "2016"]]

          preds     2016
0   1186.695833    263.0
1   1186.695833    157.3
2   1186.695833    219.0
3   1186.695833    769.5
4   1186.695833     81.2
5   1186.695833    539.3
6   1186.695833    599.7
7   1186.695833    485.5
8   1186.695833     13.5
9   1186.695833     76.8
10  1186.695833     39.3
11  1186.695833      6.2
12  1186.695833   1903.1
13  1186.695833    148.6
14  1186.695833   1974.2
15  1186.695833     95.8
16  1186.695833   2971.9
17  1186.695833  12230.4
18  1186.695833   1903.5
19  1186.695833   2947.3
20  1186.695833     61.4
21  1186.695833    147.3
22  1186.695833    734.5
23  1186.695833    112.4

In [128]:
from sklearn.tree import export_graphviz
with open("Downloads/valor-cobre-por-a単o-en-algunos-paises.csv", "w") as dotfile:
    export_graphviz(regtree, out_file=dotfile, feature_names=predictors)
    dotfile.close()
    
import os
from graphviz import Source
file = open("Downloads/valor cobre por a単o en algunos paises.csv", "r")
text = file.read()
Source(text)

ModuleNotFoundError: No module named 'graphviz'

In [129]:
from sklearn.cross_validation import KFold
from sklearn.cross_validation import cross_val_score
import numpy as np

ModuleNotFoundError: No module named 'sklearn.cross_validation'

In [130]:
cv = KFold(n=X.shape[0], n_folds = 10, shuffle=True, random_state=1)
scores = cross_val_score(regtree, X, Y, scoring="mean_squared_error", cv = cv, n_jobs=1)
print(scores)
score = np.mean(scores)
print(score)

NameError: name 'KFold' is not defined

In [131]:
list(zip(predictors,regtree.feature_importances_))

[('1998', 0.0),
 ('1999', 0.0),
 ('2000', 0.0),
 ('2001', 0.0),
 ('2002', 0.0),
 ('2003', 0.0),
 ('2004', 0.0),
 ('2005', 0.0),
 ('2006', 0.0),
 ('2007', 0.0),
 ('2008', 0.0),
 ('2009', 0.0),
 ('2010', 0.0),
 ('2011', 0.0),
 ('2012', 0.0),
 ('2013', 0.0),
 ('2014', 0.0),
 ('2015', 0.0)]

In [132]:

from sklearn.ensemble import RandomForestRegressor

In [133]:
forest = RandomForestRegressor(n_jobs=2, oob_score=True, n_estimators=10000)
forest.fit(X,Y)

RandomForestRegressor(n_estimators=10000, n_jobs=2, oob_score=True)

In [134]:
data["rforest_pred"]= forest.oob_prediction_
data[["rforest_pred", "2016"]]

    rforest_pred     2016
0     393.980616    263.0
1     327.922222    157.3
2     134.293086    219.0
3     299.953846    769.5
4      65.296470     81.2
5     620.389344    539.3
6    1204.525760    599.7
7    1048.991429    485.5
8     112.278001     13.5
9     114.242583     76.8
10     68.112186     39.3
11     84.257912      6.2
12   1280.004737   1903.1
13    200.853749    148.6
14   2679.338037   1974.2
15    232.782319     95.8
16   1933.989376   2971.9
17   2780.324350  12230.4
18   1067.979534   1903.5
19   4496.274993   2947.3
20     64.252472     61.4
21     40.004331    147.3
22    880.714115    734.5
23    141.344272    112.4

In [135]:
data["rforest_error2"] = (data["rforest_pred"]-data["2016"])**2
sum(data["rforest_error2"])/len(data)

3975061.2155315205

In [136]:
forest.oob_score_

0.34963622889756596